<h2>Reporte de ventas por día</h2>
<table class="table-auto w-full border-collapse border border-gray-300">
  <thead>
    <tr class="bg-gray-100">
      <th class="border px-4 py-2">Fecha</th>
      <th class="border px-4 py-2">Total vendido</th>
    </tr>
  </thead>
  <tbody>
    @for (report of reports(); track $index) {
    <tr>
      <td class="border px-4 py-2">{{ report.date | date:'dd/MM/yyyy'}}</td>
      <td class="border px-4 py-2">${{ report.total }}</td>
    </tr>
    }
  </tbody>
</table>
