<div class="m-2">
  <h2 mat-dialog-title class="text-center text-white font-bold">Editar venta</h2>
  <div mat-dialog-content>
    <form [formGroup]="formEdit" class="space-y-4">
      <div>
        <select formControlName="product_id" class="border px-2 py-1 w-full rounded">
        <option [ngValue]="null">Seleccione un producto</option>
        @for (product of products(); track product.id) {
        <option [value]="product.id">{{ product.name }}</option>
        }
      </select>
      </div>
      <div>
        <label class="text-white font-bold">Cantidad</label>
        <input formControlName="quantity" class="border px-2 py-1 w-full" />
      </div>
      <div>
        <label class="text-white font-bold">Fecha</label>
        <input type="date" formControlName="date" class="border px-2 py-1 w-full" />
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="flex justify-center space-x-2 mt-2">
    <button
      mat-button
      (click)="cancel()"
      class="p-2 border border-purple-600 text-purple-600 bg-white rounded font-bold hover:bg-purple-100"
    >
      Cancelar
    </button>
    <button
      mat-button
      color="primary"
      (click)="save()"
      [disabled]="formEdit.invalid"
      class="p-2 bg-purple-600 text-white rounded font-bold hover:bg-purple-300"
    >
      Guardar
    </button>
  </div>
</div>
