
@import 'swiper/swiper-bundle.css';

swiper-container {
      width: 100%;
      height: 250px;
    }
    .album-card {
      text-align: center;
    }
    .album-card img {
      width: 150px;
      border-radius: 8px;
    }
