<h2 mat-dialog-title>Agregar producto</h2>
<div mat-dialog-content>
  <form [formGroup]="form" class="space-y-4">
    <div>
      <label>Nombre</label> <input formControlName="name" class="border px-2 py-1 w-full" />
    </div>
    <div>
      <label>Precio</label>
      <input type="number" formControlName="price" class="border px-2 py-1 w-full" />
    </div>
    <div>
      <label>Stock</label>
      <input type="number" formControlName="stock" class="border px-2 py-1 w-full" />
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button color="primary" (click)="save()" [disabled]="form.invalid">Guardar</button>
</div>
